.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}

.companyInfo {
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 80%;
  max-width: 800px;
  margin-bottom: 2rem;
}

.companyInfoTitle {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

.companyInfoList {
  list-style-type: none;
  padding: 0;
}

.companyInfoSubTitle {
  color: lightpink;
  margin-bottom: 0.5rem;
}

.companyInfoListItem {
  padding: 1rem 1.5rem;
  background-color: #f7f7f7; /* Lichte achtergrond om het er klikbaar uit te laten zien */
  border: 1px solid #ddd; /* Grijze rand voor extra definitie */
  border-radius: 5px;
  color: #555;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer; /* Geeft aan dat het klikbaar is */
}

.companyInfoListItem:hover {
  background-color: #e0e0e0; /* Lichte grijze achtergrond bij hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Voeg schaduw toe voor een knop-effect */
  transform: translateY(-2px); /* Verhoogt de lijstitem bij hover voor een interactief gevoel */
}

.companyInfoListItem a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.companyInfoListItem a:hover {
  text-decoration: underline;
  color: #333; /* Verduidelijk de kleur bij hover om het meer zichtbaar te maken */
}

.blogList {
  width: 80%;
  max-width: 900px;
}

.blogHeader {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

.blogItem {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.blogItem:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.blogLink {
  text-decoration: none;
  color: lightpink;
  font-weight: bold;
  font-size: 1.1rem;
}

.blogLink:hover {
  color: #e84f7d; /* Donkerdere roze voor hover effect */
}

.blogDate {
  font-size: 0.9rem;
  color: #888;
  display: block;
  margin-top: 0.5rem;
}

.blogItem p {
  margin: 0;
}
