.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 1fr;
  height: 1fr;
  max-width: 1fr;
  position: relative;
}

.mainLeft {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1fr;
  padding: 1rem;
  margin: 1rem;
  max-width: 1fr;
}

.imgContainer {
  padding: 1rem;
}

.myImage {
  width: 350px;
  height: 350px;
  border-radius: 14px;
}

.learnMore {
  margin-left: 10rem;
}

.mainHome{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  height: 1fr;
  max-width: 1fr;
}

.welcomeText{
  border: 2px solid lightpink;
  border-radius: 14px;
  padding: 1rem;
  margin: 5rem;
}

.internship {
  font-size: 1.5rem;
  font-weight: bold;
  animation: fade-in 0.5s ease-in-out;
  color: lightpink;
  text-decoration: none;
}

.socialLinks {
  position: absolute;
  bottom: -20%;
  left: 30%;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  margin: 3rem 1rem 0rem 1rem;
}

.pinkWord {
  color: lightpink;
}